/*



******************************************* 

** - Default Btn Area Style
** - Header Area Style
** - Nav Area
** - Product Manager Area
** - Preloader Area Style


*******************************************
/*


/*
Default Style
============================*/
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,300&amp;display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,100;1,300&amp;display=swap');

.overflow {
  overflow: hidden;
}
body {
  padding: 0;
  margin: 0;
  font-size: 14px;
  line-height: 1.8;
  font-family: 'Lato', sans-serif;
  color: #5d5d5d;
}

a {
  display: inline-block;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  text-decoration: none;
  color: #190f3c;
}

a:hover {
  text-decoration: none;
  color: #232350;
}

a:focus {
  text-decoration: none;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #000000;
  font-weight: 700;
  font-family: 'Roboto', sans-serif;
  text-transform: capitalize;
}

/*
Default Btn Area Style*/
.default-btn {
  font-size: 16px;
  color: #ffffff;
  padding: 15px 30px;
  line-height: 1;
  max-width: 25%;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  text-transform: capitalize;
  position: relative;
  cursor: pointer;
  border-radius: 50px;
  text-align: center;
  overflow: hidden;
  z-index: 1;
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-color: #f47c67;
  margin-top: 2rem;
}

.default-btn::before {
  content: '';
  position: absolute;
  top: 100%;
  left: 0%;
  width: 100%;
  height: 50%;
  background-color: #f47c67;
  z-index: -1;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.default-btn::after {
  content: '';
  position: absolute;
  bottom: 100%;
  right: 0%;
  width: 100%;
  height: 50%;
  background-color: #f47c67;
  z-index: -1;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.default-btn.active {
  margin-left: 20px;
  color: #eb2c0b;
  background-color: #ffffff;
}

.default-btn:hover {
  color: #ffffff;
}

.default-btn:hover::before {
  top: 0;
  background-color: #eb2c0b;
}

.default-btn:hover::after {
  bottom: 0;
  background-color: #eb2c0b;
}

/*
Nav Area Style
======================================================*/

.nav-area .navbar-area .main-nav {
  background-color: transparent;
  -webkit-box-shadow: none;
  box-shadow: none;
  padding-top: 0;
  padding-bottom: 0;
}

.nav-area .navbar-area .main-nav nav .navbar-nav .nav-item a {
  font-weight: 600;
  font-size: 15px;
  color: #000000;
  text-transform: capitalize;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  margin-left: 0;
  margin: 0 10px;
  position: relative;
}

.nav-area .navbar-area .main-nav nav .navbar-nav .nav-item a i {
  font-size: 20px;
  line-height: 0;
  position: relative;
  top: 5px;
}

.nav-area
  .navbar-area
  .main-nav
  nav
  .navbar-nav
  .nav-item
  .dropdown-menu
  li
  a:hover::before {
  width: 100%;
  left: 0;
  right: auto;
}

.nav-area .navbar-area .main-nav nav .navbar-nav .nav-item:hover ul {
  opacity: 1;
  visibility: visible;
  top: 100%;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

.nav-area .others-option .burger-menu {
  display: inline-block;
  margin-right: 10px;
  cursor: pointer;
  color: #000000;
}

.nav-area .others-option .burger-menu i {
  font-size: 40px;
  color: #000000;
  position: relative;
  top: -2px;
}
.nav-gellio {
  margin-top: 1rem;
  font-weight: 900;
  font-size: 1.6rem;
}

/*
Product Manager Area
======================================================*/
.prm_content h1 {
  color: #000000;
  text-align: center;
  margin-top: 10rem;
  font-weight: 900;
}
.prm_content p {
  color: #000000;
  text-align: center;
  margin-top: rem;
}
.primg {
  width: 75%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2.8rem;
}

/*
Sidebar Area Style
======================================================*/
.sidebar-modal {
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: 0 0 20px 3px rgba(0, 0, 0, 0.05);
  z-index: 9999;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  overflow: hidden;
  text-align: center;
}

.sidebar-modal .sidebar-modal-inner {
  position: absolute;
  right: -100%;
  top: 0;
  width: 30%;
  overflow-y: scroll;
  height: 100%;
  background-color: #ffffff;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  z-index: 1;
  padding-top: 70px;
  padding-bottom: 70px;
  padding-left: 40px;
  padding-right: 40px;
}

.sidebar-modal .sidebar-modal-inner .close-btn {
  display: inline-block;
  position: absolute;
  right: 35px;
  top: 20px;
  font-size: 20px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  cursor: pointer;
  width: 30px;
  height: 30px;
  line-height: 32px;
  background-color: #f47c67;
  color: #ffffff;
  text-align: center;
  border-radius: 50%;
}

.sidebar-modal .sidebar-modal-inner .close-btn:hover {
  color: #ffffff;
  background-color: #e02909;
}

.sidebar-modal .sidebar-about-area {
  margin-bottom: 40px;
}

.sidebar-modal .sidebar-about-area .title h2 {
  margin-bottom: 0;
  font-size: 24px;
}

.sidebar-modal .sidebar-about-area .title p {
  margin-top: 15px;
  font-size: 15px;
}

.sidebar-modal .sidebar-instagram-feed {
  margin-bottom: 40px;
}

.sidebar-modal .sidebar-instagram-feed h2 {
  margin-bottom: 25px;
  font-size: 24px;
}

.sidebar-modal .sidebar-instagram-feed ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding-left: 0;
  list-style-type: none;
  margin-left: -5px;
  margin-right: -5px;
  margin-bottom: 0;
  margin-top: -10px;
}

.sidebar-modal .sidebar-instagram-feed ul li {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 25%;
  flex: 0 0 25%;
  max-width: 25%;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 10px;
}

.sidebar-modal .sidebar-instagram-feed ul li a {
  display: block;
  position: relative;
}

.sidebar-modal .sidebar-instagram-feed ul li a::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #000000;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  opacity: 0;
  visibility: hidden;
}

.sidebar-modal .sidebar-instagram-feed ul li a:hover::before {
  opacity: 0.5;
  visibility: visible;
}

.sidebar-modal .sidebar-contact-area .contact-info {
  text-align: center;
}
.aayush {
  border-radius: 50%;
  width: 30%;
  max-height: 40%;
}

.sidebar-modal .sidebar-contact-area .contact-info .contact-info-content h2 {
  margin-bottom: 0;
  font-size: 24px;
  text-transform: lowercase;
}

.sidebar-modal .sidebar-contact-area .contact-info .contact-info-content h2 a {
  display: inline-block;
  color: #190f3c;
}

.sidebar-modal
  .sidebar-contact-area
  .contact-info
  .contact-info-content
  h2
  a:hover {
  color: #5d5d5d;
}

.sidebar-modal
  .sidebar-contact-area
  .contact-info
  .contact-info-content
  h2
  a:not(:first-child) {
  color: #5d5d5d;
}

.sidebar-modal
  .sidebar-contact-area
  .contact-info
  .contact-info-content
  h2
  a:not(:first-child):hover {
  color: #190f3c;
}

.sidebar-modal
  .sidebar-contact-area
  .contact-info
  .contact-info-content
  h2
  span {
  display: block;
  color: #5d5d5d;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: 600;
}

.sidebar-modal
  .sidebar-contact-area
  .contact-info
  .contact-info-content
  .social {
  padding-left: 0;
  list-style-type: none;
  margin-bottom: 0;
  margin-top: 20px;
}

.sidebar-modal
  .sidebar-contact-area
  .contact-info
  .contact-info-content
  .social
  li {
  display: inline-block;
  margin: 0 1px;
  padding-left: 0;
}

.sidebar-modal
  .sidebar-contact-area
  .contact-info
  .contact-info-content
  .social
  li
  a {
  width: 35px;
  height: 35px;
  line-height: 34px;
  border: 1px solid #dadada;
  border-radius: 50%;
  color: #5d5d5d;
  display: block;
}

.sidebar-modal
  .sidebar-contact-area
  .contact-info
  .contact-info-content
  .social
  li
  a
  i {
  font-size: 14px;
}

.sidebar-modal
  .sidebar-contact-area
  .contact-info
  .contact-info-content
  .social
  li
  a:hover {
  color: #ffffff;
  border-color: #190f3c;
  background-color: #190f3c;
}

.sidebar-modal.active {
  opacity: 1;
  visibility: visible;
  background-color: rgba(0, 0, 0, 0.9);
}

.sidebar-modal.active .sidebar-modal-inner {
  right: 0;
}

/*
Preloader Area Style*/
.loader-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  overflow: hidden;
  z-index: 9999;
}

.loader-wrapper .loader-section {
  position: fixed;
  top: 0;
  width: 51%;
  height: 100%;
  background: #f09686;
  z-index: 10;
}

.loader-wrapper .loader-section.section-left {
  left: 0;
}

.loader-wrapper .loader-section.section-right {
  right: 0;
}

.loader {
  display: block;
  position: relative;
  left: 50%;
  top: 50%;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #5216a0;
  -webkit-animation: spin 1.7s linear infinite;
  animation: spin 1.7s linear infinite;
  z-index: 11;
}

.loader:before {
  content: '';
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #0a580e;
  -webkit-animation: spin-reverse 0.6s linear infinite;
  animation: spin-reverse 0.6s linear infinite;
}

.loader:after {
  content: '';
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #f9229f;
  -webkit-animation: spin 1s linear infinite;
  animation: spin 1s linear infinite;
}

.loaded .loader-wrapper {
  visibility: hidden;
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
  -webkit-transition: all 0.3s 1s ease-out;
  transition: all 0.3s 1s ease-out;
}

.loaded .loader-wrapper .loader-section.section-left {
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
  -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.loaded .loader-wrapper .loader-section.section-right {
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
  -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.loaded .loader {
  opacity: 0;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-webkit-keyframes spin-reverse {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(-360deg);
    transform: rotate(-360deg);
  }
}

@keyframes spin-reverse {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(-360deg);
    transform: rotate(-360deg);
  }
}
